<!DOCTYPE html>
<html lang="en">
     <head>
     <title>Reservation</title>
     <meta charset="utf-8">
         <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>   
     
    <!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>
          <script src="https://cdn.jsdelivr.net/ngstorage/0.3.6/ngStorage.min.js"></script> 
<link rel="stylesheet" href="css/angular-ui-notification.min.css">
         <script src="js/angular-ui-notification.min.js"></script>
         <!-- Firsebase Manage Food -->     
     <script src="js/food_manage.js"></script>
     <link rel="icon" href="images/favicon.ico">
     <link rel="shortcut icon" href="images/favicon.ico" />
     <link rel="stylesheet" href="css/style.css">
     <script src="js/jquery.js"></script>
     <script src="js/jquery-migrate-1.1.1.js"></script>
     <script src="js/jquery.equalheights.js"></script>
     <script src="js/jquery.ui.totop.js"></script>
     <script src="js/jquery.easing.1.3.js"></script>
     <script>
        $(document).ready(function(){

          $().UItoTop({ easingType: 'easeOutQuart' });
        }) 
     </script>
     <!--[if lt IE 8]>
       <div style=' clear: both; text-align:center; position: relative;'>
         <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
           <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
         </a>

    <![endif]-->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <link rel="stylesheet" media="screen" href="css/ie.css">
    <![endif]-->
    <!--[if lt IE 10]>
      <script src="js/html5shiv.js"></script>
      <link rel="stylesheet" media="screen" href="css/ie1.css">
    <![endif]-->
    
     </head>
     <body  class="" ng-app="Food_Order" ng-controller="FoodManageCtrl">

<!--==============================header=================================-->
  <header> 
  <div class="container_12">
   <div class="grid_12"> 
    <div class="socials">
      <a href="#"></a>
      <a href="#"></a>
      <a href="#"></a>
    </div>
    <h1><a href="index.html"><img src="images/logo.png" alt="Boo House"></a> </h1>
    <div class="menu_block">


    <nav id="bt-menu" class="bt-menu">
        <a href="#" class="bt-menu-trigger"><span>Menu</span></a>
        <ul>
          <li class="bt-icon"><a href="index.html">Trang chủ</a></li>
         <li class="bt-icon"><a href="index_menu.html">Thực đơn</a></li>
         
         <li class="current bt-icon "><a href="index_reservation.html">Đặt món</a></li>
         <li class="bt-icon"><a href="index_contact.html">Liên hệ</a></li>
        </ul>
      </nav>
    
 <div class="clear"></div>
</div>
<div class="clear"></div>
          </div>
      </div>
</header>
<!--==============================Content=================================-->

<div class="content"><div class="ic">More Website Templates @ TemplateMonster.com - December 02, 2013!</div>
  <div class="container_12">
      <h3>Các món đã đặt</h3>
      <table id="TABLE_1">
	<thead id="THEAD_2">
		<tr id="TR_3">
			<th id="TH_4">
				Tên món
			</th>
			<th id="TH_5">
				Giá
			</th>
			<th id="TH_6">
				Số lượng
			</th>
			<th id="TH_7">
				Tổng
			</th>
		</tr>
	</thead>
	<tbody id="TBODY_8">
		<tr id="TR_9" ng-repeat="foodItem in $storage.cp">
			<td id="TD_10">
				<div id="DIV_11">
					 <a id="A_12"><img width="60" src="{{foodItem.foodImage}}" alt="Vòi xịt rửa xe đa năng 7m giãn nở 22.5m" id="IMG_13" /></a> <strong id="STRONG_14">{{foodItem.$id}}</strong>
				</div>
				<input type="hidden" name="price_1" value="175000" id="INPUT_15" />
				<input type="hidden" name="id_1" value="148144" id="INPUT_16" />
			</td>
			<td id="TD_17">
				<span id="SPAN_18">{{foodItem.foodPrice}}đ</span>
			</td>
			<td id="TD_19">
                
				<input type="text" id="INPUT_20" ng-model="$storage.cart" ng-change="change1($storage.cp.indexOf(foodItem))"/> <a id="A_21">Bỏ sản phẩm</a>
			</td>
			<td id="TD_22">
				<span id="SPAN_23">{{foodItem.foodPrice * foodItem.isSale}}đ</span>
			</td>
		</tr>
	</tbody>
</table>
    <div id="DIV_115">
	<div id="DIV_247">
		 <strong id="STRONG_3zz">Thành tiền</strong>
	</div>
	<div id="DIV_4jh">
		 <span id="SPAN_500">{{sum()}}đ</span>
	</div>
</div>
<a href="index_payment.html" id="A_1m">Thanh toán</a>
  </div>
</div>

<!--==============================footer=================================-->

<footer>    
  <div class="container_12">
    <div class="grid_6 prefix_3">
      <a href="index.html" class="f_logo"><img src="images/f_logo.png" alt=""></a>
      <div class="copy">
      &copy; 2016 | Privacy Policy <br> Trang web thiết kế bởi <a href="https://www.facebook.com/ThaiNguyen1708" rel="nofollow">Deadline Team</a>
      </div>
    </div>
  </div>
</footer>
       <script>
      $(document).ready(function(){ 
         $(".bt-menu-trigger").toggle( 
          function(){
            $('.bt-menu').addClass('bt-menu-open'); 
          }, 
          function(){
            $('.bt-menu').removeClass('bt-menu-open'); 
          } 
        ); 
      }) 
    </script>
</body>

</html>